<style>
  .container {
    max-width: 500px;
    width: 100%;
    height: 200px;
    background-color: gray;
    margin: 0 auto;
    align-items: center;
    display: flex; }

    .container + .container { margin-top: 20px; }

</style>
<div class="container">
  {{conversionValue}} 
  <input [(ngModel)]="valueAdded" type="number">
  <select [(ngModel)]="firstCurrency">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
    <option value="CHF">CHF</option>
    <option value="YEN">YEN</option>
  </select>
  <select [(ngModel)]="secondCurency">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
    <option value="CHF">CHF</option>
    <option value="JPY">JPY</option>
  </select>
  <button (click)="runConversion()">Submit</button>
</div>
<div class="container"  *ngFor="let his of historyOld">
  <li>{{his}}</li>

</div>